p {
  background-color: aqua;
  overflow: scroll;
  width: 400px;
  height: 80px;
}

p.satu {
  border: 10px dotted red;
}

p.dua {
  border: 4px solid green;
}

p.tiga {
  border: 16px dashed blue;
}
